{% extends 'flight/layout.html' %}
{% load static %}

{% block head %}
    <title>Search | Flight</title>
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/search2_style.css' %}">
    <script src="{% static 'js/search2.js' %}"></script>
{% endblock %}

{% block body %}
<section class="section section1">
    
    <div class="query-data-div">
        <div class="container">
            <div class="trip-places">
                <div class="from-div text-align-left">
                    <div class="small-label">From</div>
                    <div class="white">{{ origin.city }} ({{ origin.code }})</div>
                </div>
                <div class="trip-type-div white">
                    <div class="small-label">&nbsp;</div>
                    {% if trip_type == '2' %}
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                        </svg>
                    {% else %}
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    {% endif %}
                </div>
                <div class="to-div text-align-right">
                    <div class="small-label">To</div>
                    <div class="white">{{ destination.city }} ({{ destination.code }})</div>
                </div>
            </div>
            <div class="v-line"></div>
            <div class="trip-time">
                <div class="depart-date-div">
                    <div class="small-label">Depart</div>
                    <div class="white">{{ depart_date|date:"D, d M Y" }}</div>
                </div>
                <div class="return-date-div">
                    <div class="small-label">Return</div>
                    <div class="white">
                        {% if return_date %}{{ return_date|date:"D, d M Y" }}{% else %}--{% endif %}
                    </div>
                </div>
            </div>
            <div class="v-line"></div>
            <div class="trip-class">
                <div class="return-date-div">
                    <div class="small-label">Class</div>
                    <div class="white">{{ seat }}</div>
                </div>
            </div>
            <div class="v-line"></div>
            <div class="trip-modify">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="Origin" value="{{ origin.code|upper }}">
                    <input type="hidden" name="Destination" value="{{ destination.code|upper }}">
                    <input type="hidden" name="DepartDate" value='{{ depart_date|date:"Y-m-d" }}'>
                    <input type="hidden" name="ReturnDate" value='{{ return_date|date:"Y-m-d" }}'>
                    <input type="hidden" name="SeatClass" value="{{ seat|lower }}">
                    <input type="hidden" name="TripType" id="trip-identifier" value="{{ trip_type }}">
                    <button class="btn spl-btn" type="submit">Modify Search</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="query-data-div2">
        </div>

    {% if trip_type == '2' and flights %}
    <div class="query-trip-type-div">
        <div class="tabs">
            <div class="selector"></div>
            <a href="#" class="active-div" data-trip_type="1">{{ origin.code }} &#8594; {{ destination.code }}</a>
            <a href="#" data-trip_type="2">{{ destination.code }} &#8594; {{ origin.code }}</a>
        </div>
    </div>
    {% endif %}

    <div class="query-result-div">
        <div class="container">
            <div class="row">
                {% if flights %}
                    {% include './_filter_panel.html' with is_return_trip=False min_price=min_price max_price=max_price %}

                    <div class="col-lg-9 actual-result-div">
                        {% include './_sort_header.html' %}
                        <div id="flights_div">
                            {% for flight in flights %}
                                {% include './_flight_card.html' with flight=flight is_return_trip=False %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {% include './_no_flights_found.html' %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if trip_type == '2' and flights %}
    <div class="query-result-div-2" style="display: none;">
        <div class="container">
            <div class="row">
                {% if flights2 %}
                    {% include './_filter_panel.html' with is_return_trip=True min_price=min_price2 max_price=max_price2 %}

                    <div class="col-lg-9 actual-result-div">
                        {% include './_sort_header.html' with is_return_trip=True %}
                        <div id="flights_div2">
                            {% for flight in flights2 %}
                                {% include './_flight_card.html' with flight=flight is_return_trip=True %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {% include './_no_flights_found.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if trip_type == '2' and flights and flights2 %}
        {% include './_selection_footer.html' %}
    {% endif %}

</section>
{% endblock %}
